.analytics {
  margin: 182px auto 180px auto;

  max-width: 1160px;

  display: flex;
  justify-content: space-between;
}
.analytics__img {
  width: 395px;
  height: 350px;
}
.analytics__container {
  max-width: 559px;

  display: flex;
  flex-direction: column;
}
.analytics__container-title {
  margin: 0;

  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.45;

  color: #1d1d39;
}
.analytics__container-text {
  margin-top: 60px;
  max-width: 473px;

  font-size: 14px;
  line-height: 26px;

  color: #333333;
}
.analytics__container-liks {
  margin-top: 25px;
}
.analytics__container-links_link {
  margin-left: 50px;

  font-family: "Museo Sans Cyrl 500";
  font-size: 14px;
  line-height: 21px;

  color: #039be6;

  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .analytics__container-title {
    font-size: 26px;
    line-height: 40px;
  }
}
