.babel {
  margin: -80px auto 0 auto;
  width: 770px;
  height: 175px;

  position: relative;

  display: flex;
  align-items: flex-end;

  z-index: 2;
}
.babel__container {
  margin-left: 40px;
  width: 95%;
  height: 175px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #ffffff;

  border-radius: 5px;
  box-shadow: 0 0.8rem 2.4rem rgba(29, 29, 57, 0.2);
}

.babel__poligon {
  width: 5%;
  height: 5px;

  border-radius: 10px;
  box-shadow: 0 0.8rem 2.4rem rgba(29, 29, 57, 0.2);
}
.babel__poligon::after {
  content: "";
  position: absolute;

  width: 44px;
  height: 38px;

  right: 0px;
  bottom: 0px;

  background-image: url("../../../images/polygon.png");
  z-index: 3;
}

.babel__container-text {
  width: 58%;
  padding-left: 30px;
  font-family: "Museo Sans Cyrl 500";
  font-size: 16px;
  line-height: 28px;
}
.babel__container-links {
  height: 67%;

  padding-right: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.babel__container-links_link {
  font-family: "Museo Sans Cyrl 500";
  font-size: 14px;
  line-height: 21px;

  color: #039be6;

  text-decoration: none;
}
