.button-primary {
  padding: 0;

  width: 190px;
  height: 60px;

  border: none;
  border-radius: 50px;

  font-family: "Museo Sans Cyrl 500";
  font-size: 14px;
  line-height: 26px;

  color: #ffffff;
  background-color: #03973d;
}
.button-primary:hover {
  background-color: #6ce49c;
  cursor: pointer;
}
