.title {
  height: 360px;

  display: flex;
  justify-content: center;

  background-color: #f2f3f8;
}
.title__text {
  padding-top: 80px;

  width: 590px;

  font-size: 36px;
  line-height: 48px;

  text-align: center;
  color: #1d1d39;
}
