.footer__contacts-links-icons {
  width: 240px;
  height: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__contacts-links_web {
  margin: 0;
  width: 25px;
  height: 25px;

  background-position: center;
  background-repeat: no-repeat;
}
.vk {
  background-image: url("../../../../images/VK.png");
}
.fk {
  background-image: url("../../../../images/fk.png");
}
.tw {
  background-image: url("../../../../images/twiter.png");
}
.you {
  background-image: url("../../../../images/youtube.png");
}
.tech {
  background-image: url("../../../../images/slack.png");
}
.feed {
  background-image: url("../../../../images/rss.png");
}
